.NavigationItem {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

.NavigationItem a {
  color: white;
  text-decoration: none;
  height: 100%;
  padding: 16px 10px;
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
  display: box;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  background-color: #8f5c2c;
  border-bottom: 4px solid #40a4c8;
  color: white;
}
